@import '../_global.scss';

.centeredBox {
  display: flex;
  justify-content: center;
  padding: 3%;
  margin-top: 400px;
  margin-bottom: auto;
}

.box {
  width: 1278px;
  height: 303px;
  text-align: center;
}

.bgimage {
  position: relative;

  z-index: 4;
  //background: #211e2e;
  background: inherit;
  box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
  border-radius: 160px;
}

.divider {
  width: 1278px;
  height: 303px;
  //  background: #211e2e;
  background: inherit;
  box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
  border-radius: 160px;
}

.content {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  z-index: 4;
  max-width: 1265px;
  height: 500px;
  margin-top: 100px;
  background: inherit;
  color: inherit;
}

.downArrow {
  border-radius: 50%;
  background: inherit;
  position: absolute;
  top: -150px;
  box-shadow: 0px 1px 1px 18px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.downArrow:hover {
  transform: translateY(2px);
}

.downArrow:active {
  transform: translateY(4px);
}

.collapse {
  background: transparent;
  margin: auto;
}

.textContainer {
  @include mnText;
  text-align: center;
  max-width: 800px;
}

.text {
  text-align: center;
  @include mnText;
}
