@import '../_global.scss';

.presentationBox1 {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin: 100px;
}

.apiHeader1 {
  @include header1;
}

.apiHeader2 {
  @include header2;
}

.apiContent {
  max-width: 630px;
  margin: 20px 0 20px;
  @include mntext;
}
