@import '../_global.scss';

.presVector {
  position: absolute;
  z-index: 0;
  background-color: transparent;
}

.vectorBox {
  @include vectorBox;
  padding-left: 0px;
  top: 2350px;
}

.presentationBox {
}
