@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

$mainbg: #302c42;
$maintext: #fff;
$btntext: #343045;
$btncol1: #8176af 0%;
$btncol2: #c0b7e8 100%;
$btnradius: #ffffff;
$altheader: rgba(255, 255, 255, 0.95);
$alertcolor: red;
$formbg: #403a5f 0%;
$formbg2: #211e2e 100%;
$boxshadow: rgba(0, 0, 0, 0.25);
$btnshadow: rgba(13, 13, 13, 0.3);
$btncolor: #c0b7e8 12.87%;
$btncolor2: #8176af 89.33%;
$primarycolor: #2947a9;
$secondarycolor: #f9995d;
$neutralbg: #f6f8f7;
$primarytext: #3d445c;
$secondarytext: #858ead;
$whitegeneric: #ffffff;
$altcolortext: #667299;
$altcolortext2: #525b7a;
$coloroli: #c2c7d6;
$titlecolor: #292e3d;
$bgform: #f6f8f7;
$bordercolor: #e0e3eb;
$inputtext: #a3aac2;
$asteriskcolor: #ed6565;
$neutralfield: #667299;
$neutralasterisk: #c40303;
$bgartwork: #3559c7;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 700;
  background-color: $mainbg;
  color: $maintext;
}

html {
  font-size: 100%;
}

@mixin btn {
  width: 155px;
  height: 48px;
  background: linear-gradient(90deg, $btncol1, $btncol2);
  border-radius: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: $btntext;
  z-index: 3;
  cursor: pointer;
}

@mixin btnlarge {
  width: 214px;
  height: 48px;
  background: linear-gradient(90deg, $btncol1, $btncol2);
  border-radius: 40px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: $btntext;
  z-index: 3;
  cursor: pointer;
}

@mixin header1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: $maintext;
}

@mixin header2 {
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  color: $altheader;
}

@mixin mntext {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: $maintext;
}

@mixin inputfield {
  background: transparent;
  display: flex;
  flex-direction: row;
  padding: 7.32px 5.85px;
  gap: 7.32px;
  border: 2px solid $btnradius;
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

@mixin vectorBox {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 100px;
  position: absolute;
  width: 100%;
  padding-left: 400px;
}

@mixin fetchedtitle {
  font-weight: 700;
  font-size: 14.6px;
  line-height: 17px;
  text-align: center;
  color: $whitegeneric;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: $primarycolor;
}

@mixin fetchedtext {
  font-size: 18px;
  line-height: 21px;
  color: $whitegeneric;
  background: $primarycolor;
}

@mixin fetchbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2.9px 14.6px;
  gap: 7.32px;
  width: 215.86px;
  height: 46.83px;
  background: $titlecolor;
  font-size: 14px;
  line-height: 21px;
  color: $whitegeneric;
  cursor: pointer;
}
