@import '../_global.scss';

.contentStyle {
  height: 160 px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: $mainbg;
  display: flex;
  justify-content: center;
  padding: 3%;
  gap: 10px;
  position: relative;
  z-index: 2;
}

.card {
  width: 310px;
  height: 511px;
  position: relative;
  z-index: 1;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #433d60 0%,
    #211e2e 100%
  ) !important;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px;
}
