@import '../_global.scss';

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 3%;
}

.logoDisplay {
  display: flex;
  gap: 15px;
}

ul {
  display: flex;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  gap: 41px;
  list-style: none;
}

.btns {
  display: flex;
  gap: 38px;
}

.btn {
  @include btn;
  border: 2px solid $btnradius;
  background: transparent;
  color: $maintext;
  z-index: 3;
}

.btn2 {
  @include btn;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .logodisplay {
    margin-bottom: 20px;
  }

  ul {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .btns {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
