@import '../_global.scss';

.homecontainer {
  width: 100%;
}

.vectorbox {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 100px;
  position: absolute;
  width: 100%;
  padding-left: 485px;
}

.vector1,
.vector2,
.vector3,
.vector4,
.homeimage {
  position: absolute;
  z-index: 3;
  background-color: transparent;
}

.vector1 {
  position: absolute;
  margin-left: 700;
}

.vector2 {
  position: absolute;
  padding-left: 650;
}

.vector3 {
  position: absolute;
  top: 350px;
}

.imagebox {
}

.homeimage {
  width: 524px;
  height: 455px;
  background: rgba(0, 0, 0, 0.13);
  border-radius: 100px 100px 100px 240px;
}

.text1,
.text2 {
  font-weight: 700;
}

.text1 {
  font-size: 46px;
  line-height: 56px;
}

.text2 {
  font-size: 40px;
  line-height: 49px;
}

.text3 {
  @include mntext;
  max-width: 450px;
}

.altcolor {
  background: linear-gradient(91.57deg, #c0b7e8 -1.02%, #8176af 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.homecontent {
  display: flex;
  position: absolute;
}

.containermax {
  display: flex;
  justify-content: center;
  gap: 150px;
  padding-right: 520px;
  flex-wrap: wrap;
}

.rectanglebox {
  text-align: center;
  margin-top: 400px;
}

.rectangle {
  width: 1272px;
  height: 167px;
}
