@import '../_global.scss';

.vectorBox {
  @include vectorBox;
  padding-left: 0px;
  top: 4065px;
}

.specsVector {
  position: absolute;
  z-index: 3;
  background-color: transparent;
}

.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  flex-wrap: wrap;
}

.roundButton {
  position: relative;
  z-index: 3;
}

.apiButtons {
  display: flex;
  justify-content: center;
  gap: 115px;
  padding: 3%;
  margin-left: 5%;
}
