@import '../_global.scss';

.specsVector {
  position: absolute;
  z-index: 3;
  background-color: transparent;
}

.companies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  flex-wrap: wrap;
}

.apiButtons {
  display: flex;
  justify-content: center;
  gap: 115px;
  padding: 3%;
}
